<li>
    <% if user.admin? %>
		<%= image_tag("admin.jpeg", :alt => "Admin Logo", :size => "30x30") %>
	<% else %>
    	<%= gravatar_for user, :size => 30 %>
	<% end %>
	<%= link_to user.name, user %>
	<% if signed_in? && current_user.admin? && !current_user?(user) %>
	| <%= link_to "delete", user, :method => :delete, :confirm => "You sure?",
	                             :title => "Delete #{user.name}" %>
	<% end %>
</li>
